<div class="container-fluid m-3">
  <div class="row">
    <div class="col-5 user-sec">
      <div>
        <h1>Users</h1>
        <table class="table" *ngIf="userList">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">User Name</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of userList; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{user.userName}}</td>
              <td>{{user.emailId}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="col-5 ms-4 add-user">
      <h2 class="mb-3">New User</h2>
      <form class="row g-3">
        <div class="col-auto">
          <label for="userName" class="visually-hidden">UserName</label>
          <input type="text" class="form-control" id="userName" placeholder="userName" [(ngModel)]="user.userName" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-auto">
          <label for="emailId" class="visually-hidden">Email Id</label>
          <input type="text" class="form-control" id="emailId" placeholder="emailId" [(ngModel)]="user.emailId" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3"(click)="addUser()">Add New</button>
        </div>
      </form>
    </div>

  </div>
</div>
